* {
  margin: 0;
  padding: 0;
}

body,html {
  height: 100vh;
  width: auto;
  background-color: white;
}


:root {
  --faded-color: rgba(0, 0, 0, 0.342);
  --highlight-color: #FF7C7C;
  --second-highlight-color: rgb(91, 164, 182);
}

.welcome-container {
  max-height: 100vh;
  min-height: 100vh;
  background-color: #455064;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;  
  text-shadow: 0px 2px 5px #000000;
}



.welcomeMessege,
.welcomeUnder,
.welcomeName {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  color: white;
  text-align: center;
}

.welcomeMessege{
  font-size: 30px;
  color: rgba(255, 255, 255, 0.705);
  
}

.welcomeName {
  display: flex;
  flex-direction: row;
  align-items: flex-end;

  letter-spacing: 20px;
  color: var(--second-highlight-color);
  font-family: 'Cinzel Decorative', cursive;
  font-size: 80px;
  
  
}

.welcomeName > h2 {
  color: var(--highlight-color);
}


.welcomeUnder{
  font-size: 20px;
  color: rgba(255, 255, 255, 0.705);
}

.firebaseui-card-content{
  margin-top: 2rem;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');